<div class="constrainer">
  <div class="scrolltable">
    <table class="table is-fullwidth">
      <thead>
      <tr>
        <th><abbr title="Position">Pos</abbr></th>
        <th>Modelo</th>
        <th><abbr title="Talla">Talla</abbr></th>
        <th><abbr title="Color">Color</abbr></th>
        <th><abbr title="Estado">Estado</abbr></th>
        <th><abbr title="Cantidad">Cantidad</abbr></th>
        <th><abbr title="F. Ingreso">F. Ingreso</abbr></th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th><abbr title="Position">Pos</abbr></th>
        <th>Modelo</th>
        <th><abbr title="Talla">Talla</abbr></th>
        <th><abbr title="Color">Color</abbr></th>
        <th><abbr title="Estado">Estado</abbr></th>
        <th><abbr title="Cantidad">Cantidad</abbr></th>
        <th><abbr title="F. Ingreso">F. Ingreso</abbr></th>
      </tr>
      </tfoot>
      <tbody>
      <tr>
        <th>1</th>
        <td>Cecicle</td>
        <td>35</td>
        <td>Nude</td>
        <td>New</td>
        <td>12</td>
        <td>25-Dec-2019</td>
      </tr>
      <tr>
        <th>2</th>
        <td>Laetitia</td>
        <td>36</td>
        <td>Black</td>
        <td>Biombo</td>
        <td>12</td>
        <td>06-Oct-2019</td>
      </tr>
      <tr>
        <th>3</th>
        <td>Laurence</td>
        <td>38</td>
        <td>Denim Blue</td>
        <td>New</td>
        <td>6</td>
        <td>04-Oct-2019</td>
      </tr>
      <tr>
        <th>4</th>
        <td>Noeud D Ete</td>
        <td>39</td>
        <td>Camel</td>
        <td>New</td>
        <td>6</td>
        <td>10-Ago-2019</td>
      </tr>
      <tr>
        <th>5</th>
        <td>Sandrine</td>
        <td>35</td>
        <td>Soft Tofee</td>
        <td>Showroom</td>
        <td>4</td>
        <td>25-Dec-2019</td>
      </tr>
      <tr>
        <th>6</th>
        <td>Sandrine</td>
        <td>35</td>
        <td>Black</td>
        <td>Showroom</td>
        <td>2</td>
        <td>25-Dec-2019</td>
      </tr>
      <tr>
        <th>7</th>
        <td>Solange</td>
        <td>38</td>
        <td>Camel</td>
        <td>New</td>
        <td>10</td>
        <td>22-Dec-2019</td>
      </tr>
      <tr>
        <th>8</th>
        <td>Aphrodite</td>
        <td>35</td>
        <td>Nude</td>
        <td>Bstore</td>
        <td>9</td>
        <td>25-Jun-2019</td>
      </tr>
      <tr>
        <th>9</th>
        <td>Astrid</td>
        <td>36</td>
        <td>Black Crystal</td>
        <td>Showroom</td>
        <td>4</td>
        <td>2-Jul-2019</td>
      </tr>
      <tr>
        <th>10</th>
        <td>Buoux</td>
        <td>37</td>
        <td>Nude Golden</td>
        <td>New</td>
        <td>7</td>
        <td>25-Dec-2019</td>
      </tr>
      <tr>
      <th>11</th>
      <td>Sandrine</td>
      <td>35</td>
      <td>Soft Tofee</td>
      <td>Showroom</td>
      <td>4</td>
      <td>25-Dec-2019</td>
      </tr>
      <tr>
        <th>12</th>
        <td>Sandrine</td>
        <td>35</td>
        <td>Black</td>
        <td>Showroom</td>
        <td>2</td>
        <td>25-Dec-2019</td>
      </tr>
      <tr>
        <th>13</th>
        <td>Solange</td>
        <td>38</td>
        <td>Camel</td>
        <td>New</td>
        <td>10</td>
        <td>22-Dec-2019</td>
      </tr>
      <tr>
        <th>14</th>
        <td>Aphrodite</td>
        <td>35</td>
        <td>Nude</td>
        <td>Bstore</td>
        <td>9</td>
        <td>25-Jun-2019</td>
      </tr>
      <tr>
        <th>15</th>
        <td>Cecicle</td>
        <td>35</td>
        <td>Nude</td>
        <td>New</td>
        <td>12</td>
        <td>25-Dec-2019</td>
      </tr>
      <tr>
        <th>16</th>
        <td>Laetitia</td>
        <td>36</td>
        <td>Black</td>
        <td>Biombo</td>
        <td>12</td>
        <td>06-Oct-2019</td>
      </tr>
      <tr>
        <th>17</th>
        <td>Laurence</td>
        <td>38</td>
        <td>Denim Blue</td>
        <td>New</td>
        <td>6</td>
        <td>04-Oct-2019</td>
      </tr>
      <tr>
        <th>18</th>
        <td>Noeud D Ete</td>
        <td>39</td>
        <td>Camel</td>
        <td>New</td>
        <td>6</td>
        <td>10-Ago-2019</td>
      </tr>

      <tr>
        <th>19</th>
        <td>Sandrine</td>
        <td>35</td>
        <td>Soft Tofee</td>
        <td>Showroom</td>
        <td>4</td>
        <td>25-Dec-2019</td>
      </tr>
      <tr>
        <th>20</th>
        <td>Sandrine</td>
        <td>35</td>
        <td>Black</td>
        <td>Showroom</td>
        <td>2</td>
        <td>25-Dec-2019</td>
      </tr>
      <tr>
        <th>21</th>
        <td>Solange</td>
        <td>38</td>
        <td>Camel</td>
        <td>New</td>
        <td>10</td>
        <td>22-Dec-2019</td>
      </tr>
      <tr>
        <th>22</th>
        <td>Aphrodite</td>
        <td>35</td>
        <td>Nude</td>
        <td>Bstore</td>
        <td>9</td>
        <td>25-Jun-2019</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
