<div class="constrainer">
  <div class="hero is-fullheight scrolltable">
    <table class="table is-striped is-fullwidth">
      <thead>
      <tr>
        <th><abbr title="Position">Pos</abbr></th>
        <th>Modelo</th>
        <th><abbr title="Talla">Talla</abbr></th>
        <th><abbr title="Color">Color</abbr></th>
        <th><abbr title="Estado">Estado</abbr></th>
        <th><abbr title="Cantidad">Cantidad</abbr></th>
        <th><abbr title="F. Ingreso">F. Ingreso</abbr></th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th><abbr title="Position">Pos</abbr></th>
        <th>Modelo</th>
        <th><abbr title="Talla">Talla</abbr></th>
        <th><abbr title="Color">Color</abbr></th>
        <th><abbr title="Estado">Estado</abbr></th>
        <th><abbr title="Cantidad">Cantidad</abbr></th>
        <th><abbr title="F. Ingreso">F. Ingreso</abbr></th>
      </tr>
      </tfoot>
      <tbody>
      <tr *ngFor="let shoe of products | filter:filteringString:'model'; let i = index;">
        <th>{{ i + 1 }}</th>
        <td>{{ shoe.model }}</td>
        <td>{{ shoe.size }}</td>
        <td>{{ shoe.color }}</td>
        <td>{{ shoe.status }}</td>
        <td>{{ shoe.quantity }}</td>
        <td>{{ shoe.creationDate }}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
